@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Oswald:wght@400;500&display=swap');

/* custom.css */

/* Body Styles */
body {
  font-family: Arial, sans-serif;
}

/* Container Styles */
.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Heading Styles */
h3 {
  text-align: center;
  color: #333;
}

/* Background Image Styles */
.bgimg {
  background-image: url(../image/bg-image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.moodIcon img {
  height: 50%;
  width: 50%;
  display: block;
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 30%;
  /* filter: drop-shadow(0 -6mm 4mm rgb(244, 182, 123)); */
}
.moodIcon img.active {
  filter: drop-shadow(16px 16px 30px rgb(16, 69, 96));
}
.topTitle{
  margin-bottom: 10px;
  margin-top: 10px;
}